.body {
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desc {
  text-align: center;
  padding: 0 16px;
  margin: 0;
}

.num {
  font-size: 100px;
  margin: 0;
}

h1, h2, p {
  color: rgb(240, 240, 240);
}